@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'goodtime';
  src: url("../font/GOODTIME.ttf") format("truetype"); }

@font-face {
  font-family: 'slimplay';
  src: url("../font/SlimPlay.ttf") format("truetype"); }

/*estilos generales*/
body {
  background-color: black;
  color: white;
  margin: 0px; }

a {
  text-decoration: none !important;
  color: grey;
  font-family: 'goodtime'; }

/*siempre primero*/
/*carrusel*/
.imgCrBstp {
  height: 25vw; }

/*contenido*/
main {
  display: flex;
  justify-content: center; }

.secD {
  width: 1200px; }

header {
  display: flex;
  height: 10vh;
  width: 100vw; }

.titleBx {
  background-color: #66B933;
  display: flex;
  width: 250px;
  height: 100%;
  align-items: center;
  justify-content: center; }

h1 {
  font-family: 'goodtime';
  color: black;
  text-align: center;
  font-size: 2rem; }

.searchBx {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  padding-left: 10px; }
  .searchBx input {
    width: 70%;
    border: 2px solid grey;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 5px;
    border-right: 0px;
    transition: 0.5s; }
  .searchBx button {
    padding: 5px;
    font-size: 1rem;
    color: black;
    background-color: #66B933;
    border: 2px solid #66B933;
    font-family: 'goodtime';
    opacity: 0.5;
    transition: 0.5s; }
  .searchBx input:focus {
    border: 2px solid #66B933;
    border-right: 0px; }
  .searchBx input:focus + button {
    opacity: 100; }

.logBx {
  font-size: 1rem;
  width: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .logBx a:hover {
    color: #66B933;
    transition: 0.5s; }

.cartBx {
  width: 50px;
  height: 100%;
  margin-right: 30px;
  background-color: #66B933;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(22px); }
  .cartBx img {
    width: 25px;
    height: 25px; }

nav {
  width: 100%;
  background-color: #1C1C21; }
  nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center; }
    nav ul li {
      list-style: none;
      padding: 10px;
      height: 100%; }
      nav ul li a {
        height: 100%;
        padding: 13px; }
      nav ul li a:hover {
        color: black;
        background-color: #66B933;
        transition: 0.5s; }

.cardBx {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; }

.card {
  position: relative;
  width: 320px;
  height: 420px;
  background-color: #1C1C21;
  border-radius: 20px;
  overflow: hidden; }

.card::before {
  content: '';
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background-color: #66B933;
  transform: skewY(345deg);
  transition: 0.5s; }

.card:hover::before {
  top: -70%;
  transform: skewY(390deg); }

.card::after {
  content: 'PS5';
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'slimplay';
  color: rgba(0, 0, 0, 0.1); }

.card_imgBx {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1; }
  .card_imgBx img {
    width: 120px;
    transition: 0.5s; }

.card:hover .card_imgBx img {
  width: 100px; }

.card_description {
  font-family: 'poppins'; }

.card_description {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1; }
  .card_description h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .card_description .price {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px; }
  .card_description a {
    position: relative;
    top: 200px;
    opacity: 0;
    color: black;
    padding: 10px 30px;
    margin-top: 15px;
    background-color: #66B933;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.5s; }

.card:hover .card_description a {
  top: 0px;
  opacity: 100; }
