@charset "UTF-8";
/*No alterar el orden!*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: 'goodtime';
  src: url("../font/GOODTIME.ttf") format("truetype"); }

@font-face {
  font-family: 'slimplay';
  src: url("../font/SlimPlay.ttf") format("truetype"); }

@font-face {
  font-family: 'ghostclanlaser';
  src: url("../font/ghostclanlaser.ttf") format("truetype"); }

@font-face {
  font-family: 'ghostclan';
  src: url("../font/ghostclan.ttf") format("truetype"); }

@font-face {
  font-family: 'X360';
  src: url("../font/X360.ttf") format("truetype"); }

@font-face {
  font-family: 'rog';
  src: url("../font/rog.ttf") format("truetype"); }

@font-face {
  font-family: 'corsair';
  src: url("../font/corsair.ttf") format("truetype"); }

/*estilos generales*/
body {
  background-color: black;
  color: white;
  margin: 0px;
  overflow-x: hidden;
  width: 100vw; }

a {
  text-decoration: none !important;
  color: grey;
  font-family: 'goodtime'; }

a:hover {
  color: #66B933; }

input:focus {
  outline: none; }

button:focus {
  outline: none; }

/*siempre primero*/
/*carrusel*/
.carousel {
  margin-bottom: 40px; }

.imgCrBstp {
  height: 25vw; }

/*contenido*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*secciones propias*/
.sec_index {
  width: 1300px; }
  .sec_index .sec_index_title {
    margin-bottom: 40px; }
    .sec_index .sec_index_title h2 {
      font-family: 'goodtime';
      color: #66B933; }
    .sec_index .sec_index_title p {
      font-family: 'Poppins';
      color: grey; }

.catalogo_row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .catalogo_row .card {
    margin-right: 23px; }

/*secciones tematicas*/
.sec_console, .sec_console-xbox {
  background-image: url(../img/psfondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 40vw;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sec_console .mid1, .sec_console-xbox .mid1, .sec_console .mid2, .sec_console-xbox .mid2, .sec_console .mid3, .sec_console-xbox .mid3 {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.sec_console-xbox {
  background-image: url(../img/xbox.jpg);
  margin-bottom: 0px; }

.sec_console .swiper-button-prev, .sec_console-xbox .swiper-button-prev, .sec_console .swiper-button-next, .sec_console-xbox .swiper-button-next {
  color: #003087; }

.sec_console-xbox .swiper-button-prev, .sec_console-xbox .swiper-button-next {
  color: #007F00; }

@media (max-width: 1338px) {
  .sec_index {
    width: 100vw;
    padding: 0 20px; } }

@media (max-width: 1205px) {
  .sec_console, .sec_console-xbox, .sec_console-xbox {
    height: 500px; } }

@media (max-width: 669px) {
  .sec_console .mid1, .sec_console-xbox .mid1, .sec_console .mid2, .sec_console-xbox .mid2, .sec_console .mid3, .sec_console-xbox .mid3 {
    display: none; }
  .sec_console .mid2, .sec_console-xbox .mid2 {
    display: none; } }

@media (max-width: 979px) {
  .sec_console-xbox .mid1, .sec_console-xbox .mid2, .sec_console-xbox .mid3 {
    display: none; }
  .sec_console-xbox .mid2 {
    display: none; }
  .sec_console-xbox .mid1, .sec_console-xbox .mid2, .sec_console-xbox .mid3 {
    display: none; }
  .sec_console-xbox .mid2 {
    display: none; } }

header {
  display: flex;
  height: 80px;
  width: 100%; }

.titleBx {
  background-color: #66B933;
  display: flex;
  width: 250px;
  height: 100%;
  align-items: center;
  justify-content: center; }

.brand {
  font-family: 'ghostclanlaser';
  color: black;
  text-align: center;
  font-size: 3rem;
  transition: 0.5s; }

.brand:hover {
  transform: scale(1.1); }

.searchBx {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  padding-left: 10px; }
  .searchBx input {
    width: 70%;
    border: 2px solid grey;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 5px;
    border-right: 0px;
    transition: 0.5s; }
  .searchBx button {
    padding: 5px;
    font-size: 1rem;
    color: black;
    background-color: #66B933;
    border: 2px solid #66B933;
    font-family: 'goodtime';
    opacity: 0.5;
    transition: 0.5s; }
  .searchBx input:focus {
    border: 2px solid #66B933;
    border-right: 0px; }
  .searchBx input:focus + button {
    opacity: 100; }

.auxBx {
  display: flex;
  height: 100%;
  width: 250px; }

.logBx {
  font-size: 1rem;
  width: 170px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .logBx a:hover {
    color: #66B933;
    transition: 0.5s; }
  .logBx .sesion-img {
    width: 20%; }
    .logBx .sesion-img img {
      width: 100%; }
  .logBx .account {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .logBx .account p {
      font-size: 10px;
      margin: 0; }
    .logBx .account a {
      font-size: 10px; }

.cartBx {
  width: 90px;
  height: 100%;
  background-color: #66B933;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(22px); }
  .cartBx img {
    width: 25px;
    height: 25px; }

@media (max-width: 844px) {
  header {
    flex-direction: column;
    height: inherit; }
  .titleBx {
    width: 100%;
    margin-bottom: 20px; }
  .searchBx {
    margin-bottom: 20px;
    padding: 0px; }
  .auxBx {
    align-self: center;
    height: 50px;
    justify-content: center;
    margin-bottom: 20px;
    width: 82%; }
  .logBx {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%; }
    .logBx a {
      padding-right: 10px; }
  .cartBx {
    width: 20%; } }

.sections {
  width: 100%;
  background-color: #1C1C21;
  position: relative; }

.links-nav {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .links-nav li {
    list-style: none;
    padding: 10px 0 10px 10px;
    height: 100%; }
    .links-nav li a {
      height: 100%;
      padding: 14px; }
    .links-nav li a:hover {
      color: black;
      background-color: #66B933;
      transition: 0.5s; }

.sections-movil {
  display: none;
  background-color: #1C1C21;
  position: relative;
  width: 100%; }

@media (max-width: 719px) {
  .sections {
    display: none; }
  .sections-movil {
    display: block;
    height: 50px;
    position: sticky;
    z-index: 100;
    top: 0; }
    .sections-movil .toggle {
      position: relative;
      height: 50px;
      border-bottom: 2px solid #66B933; }
      .sections-movil .toggle .icon-burger {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%); }
      .sections-movil .toggle .icon-burger .line {
        width: 30px;
        height: 5px;
        background-color: #fff;
        margin: 5px;
        border-radius: 3px;
        transition: all .3s ease-in-out; }
    .sections-movil .toggle :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg); }
    .sections-movil .toggle :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg); }
    .sections-movil .toggle :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0; }
    .sections-movil #nav-toggle {
      position: absolute;
      display: none; }
    .sections-movil .links-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 50px;
      width: 100%;
      background-color: #1c1c21;
      z-index: 100;
      height: 0px;
      transition: 0.5s;
      overflow: hidden; }
      .sections-movil .links-nav li {
        height: 50px; }
    .sections-movil .toggle :checked ~ .links-nav {
      height: 180px; } }

.cardBx {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; }

.card {
  position: relative;
  width: 300px;
  height: 420px;
  background-color: #1C1C21;
  border-radius: 10px;
  overflow: hidden;
  border: 0px;
  margin-bottom: 20px; }

.card::before {
  content: '';
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background-color: #66B933;
  transform: skewY(345deg);
  transition: 0.5s; }

.card:hover::before {
  top: -70%;
  transform: skewY(390deg); }

.card::after {
  content: 'PS5';
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'slimplay';
  color: rgba(0, 0, 0, 0.1); }

.card_imgBx {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  z-index: 1;
  transition: 0.5s; }
  .card_imgBx img {
    height: 100%;
    transition: 0.5s; }

.card:hover .card_imgBx {
  height: 220px; }

.card_description {
  font-family: 'poppins'; }

.card_description {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1; }
  .card_description h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 10px; }
  .card_description .price {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px; }
  .card_description a {
    position: relative;
    top: 200px;
    opacity: 0;
    color: black;
    padding: 10px 30px;
    margin-top: 15px;
    background-color: #66B933;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 0.9rem; }

.card:hover .card_description a {
  top: 0px;
  opacity: 100; }

/*correccion detalles de tarjetas*/
.ps::after {
  content: 'PS4'; }

.ps5::after {
  content: 'PS5'; }

.ps::before {
  background-color: #003087; }

.xbox::after {
  content: 'XBOX';
  font-family: 'X360'; }

.xbox::before {
  background-color: #007F00; }

.razer::after {
  content: 'RAZER';
  font-family: 'goodtime'; }

.rog::after {
  content: 'ROG';
  font-family: 'rog'; }

.rog::before {
  background-color: #a4181d; }

.aorus::after {
  content: 'AORUS';
  font-family: 'goodtime'; }

.msi::after {
  content: 'msi';
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 7rem; }

.msi::before {
  background-color: #a4181d; }

.corsair::after {
  content: 'CORSAIR';
  font-family: 'corsair'; }

.corsair::before {
  background-color: #FFCC00; }

.swiper-container {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 100px; }

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 420px;
  display: flex;
  justify-content: flex-end; }

.slider {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.swiper-container-flip {
  display: none;
  width: 300px;
  height: 420px; }
  .swiper-container-flip .swiper-slide {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center; }

@media (max-width: 669px) {
  .swiper-container-flip {
    display: block; } }

@media (max-width: 979px) {
  .sec_console-xbox .swiper-container-flip {
    display: block; } }

.payment {
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 50px; }

.info {
  width: 100%;
  background-color: #1C1C21;
  display: flex;
  justify-content: center; }

.info_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1300px;
  margin: 0 30px; }

.links {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  padding: 30px 0 20px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid grey; }
  .links ul {
    padding: 0 60px 0 0; }
    .links ul li {
      list-style: none; }
      .links ul li a {
        font-family: 'Roboto';
        font-weight: 300;
        color: grey;
        font-size: 0.9rem; }
      .links ul li a:hover {
        color: #66B933; }

.links--title, .social button {
  font-family: 'Roboto';
  font-weight: 600; }

.social {
  padding: 0 60px 0 0;
  margin-bottom: 20px; }
  .social button {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 0.7rem;
    transition: 0.5s; }
  .social button:hover {
    background: black;
    border: 1px solid #66B933; }
  .social h4 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.05rem;
    margin-bottom: 20px; }
  .social img {
    height: 40px; }

.social_iconos {
  display: flex; }
  .social_iconos img {
    width: 40px;
    margin-right: 10px; }

.partner {
  margin-bottom: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid grey; }
  .partner h4 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px; }

.partner-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .partner-img img {
    height: 90px;
    margin-right: 20px;
    margin-bottom: 30px; }

.copyright {
  text-align: center; }
  .copyright p {
    font-family: 'Roboto';
    font-weight: 300;
    color: grey;
    font-size: 0.9rem; }
  .copyright a {
    font-family: 'Roboto';
    font-weight: 300;
    color: grey;
    font-size: 0.9rem; }
  .copyright a:hover {
    color: #66B933; }

@media (max-width: 1359px) {
  footer {
    width: 100vw; } }

.ofertas {
  background-image: url(../img/santa2.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 2200px; }

.clockBx {
  text-align: center;
  height: 240px; }
  .clockBx span {
    font-family: 'goodtime';
    font-size: 2.5rem;
    font-weight: 600;
    color: #66B933; }
  .clockBx h2 {
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 600; }

.clock-content {
  width: 530px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px; }
  .clock-content p {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 600; }

#clock {
  display: flex;
  justify-content: center; }
  #clock .number {
    position: relative;
    width: 60px;
    padding: 10px;
    margin: 0 10px;
    background-color: black;
    color: #66B933;
    font-family: 'ghostclan';
    font-size: 1.5rem; }

.ofertas_productos {
  background-color: black;
  width: 1300px;
  padding: 20px 10px; }
  .ofertas_productos .card {
    margin: 0px 10px 20px 10px; }

.discount-container {
  position: relative; }

.discount {
  position: absolute;
  height: 30px;
  width: 120px;
  top: 0px;
  left: 0px;
  background-color: black;
  font-family: 'Roboto';
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  color: #66B933;
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%); }

@media (max-width: 1339px) {
  .ofertas_productos {
    width: 95vw; } }

@media (max-width: 1095px) {
  .ofertas_productos {
    width: 100vw; } }

@media (max-width: 590px) {
  .clockBx {
    width: 95vw; } }

@media (max-width: 566px) {
  .clockBx {
    height: 42vw; }
    .clockBx h2 {
      font-size: 4vw; }
    .clockBx span {
      font-size: 7vw; }
  .clock-content {
    width: 100%;
    margin-top: 5vw; }
    .clock-content p {
      font-size: 3vw; }
  #clock div {
    font-size: 4vw; }
  #clock .number {
    width: 10vw;
    height: 10vw;
    font-size: 4vw; } }

.contact {
  box-sizing: content-box;
  position: relative;
  display: flex;
  padding: 50px 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto';
  width: 1000px; }
  .contact .description {
    text-align: center;
    box-sizing: inherit; }
    .contact .description h2 {
      font-family: 'goodtime';
      font-size: 2rem;
      font-weight: 500;
      color: #66B933; }
    .contact .description p {
      font-size: 1rem;
      font-weight: 400;
      color: grey; }
  .contact .info-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    box-sizing: inherit; }
    .contact .info-container .contactBx {
      width: 50%;
      display: flex;
      flex-direction: column;
      box-sizing: inherit;
      margin-right: 20px; }
      .contact .info-container .contactBx .box {
        position: relative;
        display: flex;
        padding: 20px 0;
        box-sizing: inherit; }
        .contact .info-container .contactBx .box .icon {
          width: 60px;
          height: 60px;
          font-size: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: inherit; }
        .contact .info-container .contactBx .box .phone-size {
          font-size: 60px; }
        .contact .info-container .contactBx .box .text {
          box-sizing: inherit;
          display: flex;
          margin-left: 20px;
          flex-direction: column; }
          .contact .info-container .contactBx .box .text h3 {
            font-size: 1.8rem;
            margin-bottom: 0px;
            color: #66B933;
            font-family: 'goodtime'; }
          .contact .info-container .contactBx .box .text p {
            color: grey;
            font-size: 1.2rem; }
    .contact .info-container .contactForm {
      width: 50%;
      padding: 40px;
      background-color: #1C1C21;
      box-sizing: inherit;
      border-radius: 10px; }
      .contact .info-container .contactForm h2 {
        font-size: 2rem;
        color: #66B933;
        font-family: 'goodtime'; }
      .contact .info-container .contactForm .inputBox {
        position: relative;
        width: 100%;
        margin-top: 10px;
        box-sizing: inherit; }
        .contact .info-container .contactForm .inputBox input, .contact .info-container .contactForm .inputBox textarea {
          background: transparent;
          width: 100%;
          padding: 5px 0;
          font-size: 1rem;
          margin: 10px 0;
          border: none;
          border-bottom: 2px solid #66B933;
          color: white;
          outline: none;
          resize: none;
          box-sizing: inherit; }
        .contact .info-container .contactForm .inputBox span {
          position: absolute;
          left: 0;
          padding: 5px 0;
          font-size: 1rem;
          margin: 10px 0;
          pointer-events: none;
          transition: 0.5s;
          color: grey;
          box-sizing: inherit; }
        .contact .info-container .contactForm .inputBox input:focus ~ span,
        .contact .info-container .contactForm .inputBox input:valid ~ span,
        .contact .info-container .contactForm .inputBox textarea:focus ~ span,
        .contact .info-container .contactForm .inputBox textarea:valid ~ span {
          color: #66B933;
          font-size: 0.8rem;
          transform: translateY(-20px); }
        .contact .info-container .contactForm .inputBox input[type="submit"] {
          width: 100px;
          color: #66B933;
          cursor: pointer;
          padding: 10px;
          background: #1C1C21;
          box-sizing: inherit;
          transition: 0.5s; }
        .contact .info-container .contactForm .inputBox input[type="submit"]:hover {
          background-color: black; }

@media (max-width: 1089px) {
  .contact {
    width: 85vw; } }

@media (max-width: 677px) {
  .contact .info-container {
    flex-direction: column; }
    .contact .info-container .contactBx {
      width: 100%;
      margin: 0px; }
    .contact .info-container .contactForm {
      width: 100%;
      box-sizing: border-box; } }

.about-us_head {
  width: 100%;
  height: 250px;
  background-color: #66B933;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 0px; }
  .about-us_head h2 {
    text-align: center;
    font-family: 'ghostclan';
    font-size: 5rem;
    color: black; }
    .about-us_head h2 span {
      font-family: 'ghostclanlaser'; }
  .about-us_head h3 {
    font-family: 'ghostclan';
    font-size: 2rem;
    color: black; }

.about-us_introduction {
  margin-bottom: 50px;
  width: 1140px; }
  .about-us_introduction h3 {
    text-align: center;
    color: #66B933;
    font-family: 'goodtime'; }
  .about-us_introduction p {
    color: grey; }

.about-us_text {
  width: 100%;
  background-image: url(../img/sn-fondo1.jpg);
  background-size: cover;
  background-position: 500px 0px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }

.about-us_text_box {
  width: 1140px;
  padding: 50px 0px; }

.about-us_text_box--flex {
  width: 1140px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center; }

.about-us_text_box_content {
  width: 570px; }
  .about-us_text_box_content h3 {
    color: #66B933;
    font-family: 'goodtime'; }
  .about-us_text_box_content p {
    color: grey; }
  .about-us_text_box_content a {
    font-family: inherit;
    color: #66B933; }

.about-us_text_box_content--flex {
  width: 570px;
  padding-right: 40px; }
  .about-us_text_box_content--flex h3 {
    color: #66B933;
    font-family: 'goodtime'; }
  .about-us_text_box_content--flex p {
    color: grey; }
  .about-us_text_box_content--flex a {
    font-family: inherit;
    color: #66B933; }

.about-us_features {
  padding: 50px 0px;
  width: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }
  .about-us_features h3 {
    color: #66B933;
    font-family: 'goodtime'; }

.about-us_features_box {
  width: 1140px;
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.about-us_features_box_content {
  width: 320px; }
  .about-us_features_box_content h4 {
    font-family: 'goodtime'; }
  .about-us_features_box_content p {
    color: grey; }

.about-us_version {
  width: 1140px;
  margin-bottom: 50px; }
  .about-us_version h3 {
    color: #66B933;
    font-family: 'goodtime';
    margin-bottom: 20px; }

.about-us_version_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.about-us_version_box_content {
  width: 200px;
  padding-right: 30px; }
  .about-us_version_box_content h4 {
    color: #66B933;
    font-family: 'goodtime'; }
  .about-us_version_box_content ul {
    color: grey;
    padding-left: 20px; }

@media (max-width: 1190px) {
  .about-us section {
    width: 100vw;
    padding-left: 40px;
    padding-right: 40px; }
  .about-us .about-us_features_box {
    width: 100%; } }

@media (max-width: 879px) {
  .about-us_head {
    height: 40vw; }
    .about-us_head h2 {
      font-size: 8.5vw; }
    .about-us_head h3 {
      font-size: 3.5vw; } }

@media (max-width: 650px) {
  .about-us_text_box_content {
    width: 100%; }
  .about-us_text_box--flex {
    width: 100%;
    flex-wrap: wrap; } }

.catalogue {
  width: 1140px;
  margin-top: 50px; }
  .catalogue .catalogue_title {
    color: #66B933;
    font-family: 'goodtime';
    margin-bottom: 30px; }

.product {
  width: 100%;
  display: flex;
  margin-bottom: 50px; }

.product_filter {
  width: 100%;
  background-color: #1C1C21;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px; }

#toggle-filter {
  display: none; }

.left-filter {
  display: none; }

.product_filter_serchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  background-color: #222222;
  border-radius: 5px; }
  .product_filter_serchbox input {
    width: 80%;
    background-color: #222222;
    border: none;
    height: 30px;
    padding: 10px 0 10px 10px;
    color: white;
    height: 40px;
    border-radius: 5px; }
  .product_filter_serchbox .icon {
    width: 20%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit; }

.product_filter_price {
  width: 100%; }
  .product_filter_price h4 {
    font-family: 'goodtime';
    color: #66B933; }

.product_filter_price_box {
  display: flex;
  justify-content: space-between; }
  .product_filter_price_box input {
    padding: 10px;
    width: 45%;
    background-color: #222222;
    border: none;
    color: white;
    border-radius: 5px; }

.product_filter_type {
  width: 100%;
  margin-top: 15px; }
  .product_filter_type h4 {
    font-family: 'goodtime';
    color: #66B933; }
  .product_filter_type ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
    font-weight: 500; }
    .product_filter_type ul li input [type="checkbox"] {
      background-color: #1C1C21; }

.product_box_short {
  position: relative;
  height: 50px; }
  .product_box_short .order-list {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%); }
    .product_box_short .order-list .order-button {
      font-family: 'goodtime';
      font-size: 1.2rem; }
      .product_box_short .order-list .order-button i {
        font-size: 1.2rem;
        padding-right: 10px; }
  .product_box_short #toggle {
    display: none; }
  .product_box_short .order {
    background-color: #222222;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 50px;
    right: 0;
    height: 100px;
    width: 250px;
    transition: 0.5s;
    list-style: none;
    padding: 0 20px;
    overflow: hidden;
    opacity: 0;
    border-radius: 0px 0px 5px 5px; }
    .product_box_short .order a {
      font-family: 'Roboto';
      font-weight: 400; }
  .product_box_short #toggle:checked ~ .order {
    opacity: 100; }
  .product_box_short .order-button:hover {
    color: #66B933; }

.product_box_list {
  display: flex;
  padding-left: 20px;
  flex-wrap: wrap; }
  .product_box_list .card {
    width: 270px;
    height: 378px;
    margin-right: 23px; }
  .product_box_list .card_imgBx {
    height: 225px;
    padding-top: 36px; }
  .product_box_list .card:hover .card_imgBx {
    height: 198px; }
  .product_box_list .card_description {
    padding: 18px; }
    .product_box_list .card_description h3 {
      font-size: 16.2px;
      padding-bottom: 9px; }
    .product_box_list .card_description .price {
      font-size: 21.6px; }
    .product_box_list .card_description a {
      padding: 9px 27px;
      font-size: 14px; }

.product_box_pagination {
  display: flex;
  justify-content: center; }
  .product_box_pagination ul {
    margin: 0px; }
  .product_box_pagination .page-link {
    color: #66B933;
    background-color: #1C1C21;
    border-color: #222222; }

@media (max-width: 1180px) {
  .catalogue {
    width: 95vw; }
    .catalogue .card {
      width: 20vw; }
      .catalogue .card a {
        text-align: center;
        font-size: 0.7rem; }
    .catalogue .catalogue_title {
      padding-left: 20px; }
  .product_filter-movil {
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center; }
  .product_filter {
    width: 0px;
    align-self: flex-start;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    padding: 0; }
  .left-filter {
    height: 50px;
    width: 50px;
    background-color: #1C1C21;
    clip-path: circle(90% at left);
    z-index: 1000;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .left-filter .pestaña {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
  #toggle-filter:checked ~ .product_filter {
    width: 80%;
    padding: 20px; } }

@media (max-width: 948px) {
  .catalogue .card {
    width: 27vw; } }

@media (max-width: 640px) {
  .catalogue .card {
    width: 39vw; } }

@media (max-width: 420px) {
  .catalogue .product_box_list {
    display: flex;
    justify-content: center; }
  .catalogue .card {
    width: 60vw; } }

.lg h2 {
  text-transform: capitalize; }

.login {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex; }

.login_imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden; }
  .login_imgBx img {
    height: 100%; }

.login_contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-family: 'Roboto'; }

.login_contentBx_formBx {
  width: 50%; }
  .login_contentBx_formBx h2 {
    font-family: 'goodtime';
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 4px solid #222222;
    display: inline-block;
    color: #66B933; }
  .login_contentBx_formBx h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    margin: 80px 0px 15px;
    font-weight: 400; }
  .login_contentBx_formBx .inicio {
    font-weight: 400;
    color: grey;
    font-size: 0.8rem; }
  .login_contentBx_formBx .inicio:hover {
    color: #66B933; }

.login_contentBx_formBx_inputBx {
  margin-bottom: 20px;
  color: white;
  width: 100%; }
  .login_contentBx_formBx_inputBx label {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 0.9rem;
    font-family: 'goodtime'; }
  .login_contentBx_formBx_inputBx input {
    box-sizing: border-box;
    color: white;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid #66B933;
    border-radius: 30px;
    background: transparent;
    font-weight: 500; }
  .login_contentBx_formBx_inputBx input[type="submit"] {
    background: #222222;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'goodtime'; }
  .login_contentBx_formBx_inputBx input[type="submit"]:hover {
    background: #66B933;
    color: black; }
  .login_contentBx_formBx_inputBx p {
    font-size: 14px; }
  .login_contentBx_formBx_inputBx p a {
    color: #66B933; }

.login_contentBx_formBx_remember {
  margin-bottom: 10px;
  color: white;
  font-size: 14px; }

.login_contentBx_formBx_redes {
  display: flex;
  border: grey;
  justify-content: center;
  margin-bottom: 30px; }
  .login_contentBx_formBx_redes img {
    width: 40px;
    transition: 0.6s;
    margin-left: 1vw;
    margin-right: 1vw;
    cursor: pointer; }
  .login_contentBx_formBx_redes img:hover {
    transform: rotate(360deg) scale(1.3, 1.3); }

@media (max-width: 768px) {
  .login_imgBx {
    position: absolute;
    width: 100%;
    height: 100%; }
  .login_contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .login_contentBx_formBx {
    width: 100%;
    padding: 40px;
    background: black;
    margin: 50px; }
  .login_contentBx_formBx h3 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 16px;
    margin: 30px 0px 10px; } }

.alerta_usuario {
  background-color: #222222;
  color: #66B933;
  font-family: 'goodtime';
  text-align: center;
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  position: fixed;
  visibility: hidden; }
  .alerta_usuario p {
    color: #66B933;
    font-family: 'goodtime';
    text-align: center;
    margin: 0; }

.product-detail {
  width: 1300px;
  height: 350px;
  margin: 20px 0;
  display: flex; }
  .product-detail h3 {
    color: #66B933;
    font-family: 'goodtime'; }

.img-container {
  height: 100%;
  width: 240px;
  display: flex;
  justify-content: center; }
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.info-container {
  flex-grow: 1; }
  .info-container h3 {
    margin-left: 20px;
    margin: 20px; }

.all-info {
  position: relative;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  border-radius: 5px; }
  .all-info div {
    margin: 20px; }
    .all-info div a {
      color: black;
      padding: 10px 30px;
      background-color: #66B933;
      border-radius: 30px;
      text-transform: uppercase;
      font-size: 0.9rem; }
  .all-info .extra-texto {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .all-info .extra-texto h4 {
      font-family: 'goodtime';
      margin: 0; }
    .all-info .extra-texto p {
      margin: 0;
      color: grey; }
      .all-info .extra-texto p span {
        color: #66B933; }
  .all-info .extra-precio {
    font-family: 'goodtime';
    display: flex;
    justify-content: center;
    align-items: center; }
    .all-info .extra-precio h4 {
      margin: 0; }
  .all-info .extra-boton {
    display: flex;
    justify-content: center;
    align-items: center; }

.all-info:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.15);
  filter: blur(10px);
  margin: -20px; }

.description-detalles {
  width: 1300px;
  margin: 20px 0;
  background-color: #222222;
  padding: 20px; }
  .description-detalles h3 {
    font-family: 'goodtime'; }
  .description-detalles p {
    color: grey; }

#carritoMini {
  background-color: #222222;
  width: 250px;
  position: absolute;
  right: 0px;
  top: 80px;
  z-index: 2;
  visibility: hidden;
  transition: 0.2s; }

.carritoMini_categoria {
  display: flex;
  height: 45px;
  align-items: center;
  border-bottom: 2px solid #66B933; }
  .carritoMini_categoria p {
    margin: 0;
    width: 83.33px;
    text-align: center;
    font-family: 'goodtime';
    font-size: 0.85rem;
    font-weight: 100; }

.carritoMini_contenido {
  margin-bottom: 5px; }
  .carritoMini_contenido .carritoMini_contenido_producto {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #66B933;
    padding: 10px 0; }
    .carritoMini_contenido .carritoMini_contenido_producto div {
      display: flex;
      width: 83.33px;
      max-height: 83.33px;
      justify-content: center; }
      .carritoMini_contenido .carritoMini_contenido_producto div img {
        max-width: 83.33px;
        max-height: 83.33px; }
    .carritoMini_contenido .carritoMini_contenido_producto p {
      width: 83.33px;
      text-align: center;
      margin: 0; }
    .carritoMini_contenido .carritoMini_contenido_producto .carritoMini_contenido_precio {
      font-family: 'poppins'; }

.carritoMini_buttons button {
  color: black;
  padding: 10px 0;
  width: 240px;
  background-color: #66B933;
  border: none;
  margin: 0px 5px 5px 5px;
  text-transform: uppercase;
  font-family: 'goodtime';
  font-size: 0.9rem; }

.alerta_carrito {
  background-color: #222222;
  color: #66B933;
  font-family: 'goodtime';
  text-align: center;
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  position: fixed;
  visibility: hidden; }
  .alerta_carrito p {
    color: #66B933;
    font-family: 'goodtime';
    text-align: center;
    margin: 0; }

.carrito-intro {
  text-align: left;
  width: 1300px;
  margin: 20px 0; }
  .carrito-intro h1 {
    font-family: 'goodtime';
    color: #66B933; }
  .carrito-intro p {
    color: gray; }

.catalogo {
  width: 1300px;
  margin: 0; }

.product-display {
  width: 1300px; }
  .product-display tr {
    border-bottom: 1px solid #66B933; }
    .product-display tr th {
      color: #66B933;
      font-family: 'goodtime';
      font-size: 1rem;
      text-align: center; }
  .product-display .img-col {
    width: 10%;
    padding: 20px; }
    .product-display .img-col div {
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .product-display .img-col div img {
        height: 100%; }
  .product-display .name-col {
    width: 50%;
    font-size: 1.2rem;
    text-align: center; }
  .product-display .price-col {
    width: 10%;
    text-align: center; }
  .product-display .amount-col {
    width: 10%;
    text-align: center; }
    .product-display .amount-col input {
      width: 35px;
      margin-left: 20px;
      background-color: transparent;
      color: white;
      border: none; }
    .product-display .amount-col button {
      background-color: transparent;
      color: #66B933;
      font-size: 1.5rem;
      border: none; }
  .product-display .subtotal-col {
    text-align: center; }
  .product-display .delet-col button {
    background-color: #66B933;
    border-radius: 50%;
    border: none;
    font-family: 'goodtime';
    font-weight: 1000; }
  .product-display .no-product {
    width: 1300px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.pay-info {
  width: 1300px;
  margin-bottom: 30px;
  background-color: transparent;
  display: flex; }
  .pay-info .pay-info_continuar {
    background-color: transparent;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0; }
    .pay-info .pay-info_continuar button {
      font-family: 'goodtime';
      background-color: #66B933;
      border: none;
      color: black;
      padding: 10px;
      border-radius: 5px; }
    .pay-info .pay-info_continuar .vaciar-carrito {
      margin-bottom: 20px; }
  .pay-info .pay-info_total {
    padding-top: 10px;
    width: 70%;
    background-color: #66B933;
    color: black;
    font-family: 'goodtime';
    display: flex;
    justify-content: flex-end; }
    .pay-info .pay-info_total .pay-info_total_contenedor {
      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: column;
      position: relative; }
      .pay-info .pay-info_total .pay-info_total_contenedor p {
        margin-bottom: 10px;
        font-size: 0.8rem; }
      .pay-info .pay-info_total .pay-info_total_contenedor .total-monto {
        margin: 0;
        font-size: 2rem;
        font-weight: 600;
        justify-self: flex-end; }
