@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: 'goodtime';
  src: url("../font/GOODTIME.ttf") format("truetype"); }

@font-face {
  font-family: 'slimplay';
  src: url("../font/SlimPlay.ttf") format("truetype"); }

@font-face {
  font-family: 'ghostclanlaser';
  src: url("../font/ghostclanlaser.ttf") format("truetype"); }

@font-face {
  font-family: 'ghostclan';
  src: url("../font/ghostclan.ttf") format("truetype"); }

@font-face {
  font-family: 'X360';
  src: url("../font/X360.ttf") format("truetype"); }

@font-face {
  font-family: 'rog';
  src: url("../font/rog.ttf") format("truetype"); }

@font-face {
  font-family: 'corsair';
  src: url("../font/corsair.ttf") format("truetype"); }

/*estilos generales*/
body {
  background-color: black;
  color: white;
  margin: 0px;
  overflow-x: hidden; }

a {
  text-decoration: none !important;
  color: grey;
  font-family: 'goodtime'; }

/*siempre primero*/
/*carrusel*/
.carousel {
  margin-bottom: 40px; }

.imgCrBstp {
  height: 25vw; }

/*contenido*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*secciones propias*/
.sec_index {
  width: 1300px; }
  .sec_index .sec_index_title {
    margin-bottom: 40px; }
    .sec_index .sec_index_title h2 {
      font-family: 'goodtime';
      color: #66B933; }
    .sec_index .sec_index_title p {
      font-family: 'Poppins';
      color: grey; }

.catalogo_row {
  display: flex;
  justify-content: space-between; }

/*secciones tematicas*/
.sec_console, .sec_console-xbox {
  background-image: url(../img/psfondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 40vw;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sec_console .mid1, .sec_console-xbox .mid1, .sec_console .mid2, .sec_console-xbox .mid2, .sec_console .mid3, .sec_console-xbox .mid3 {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.sec_console-xbox {
  background-image: url(../img/xbox.jpg);
  margin-bottom: 0px; }

header {
  display: flex;
  height: 10vh;
  width: 100vw; }

.titleBx {
  background-color: #66B933;
  display: flex;
  width: 250px;
  height: 100%;
  align-items: center;
  justify-content: center; }

.brand {
  font-family: 'ghostclanlaser';
  color: black;
  text-align: center;
  font-size: 3rem;
  transition: 0.5s; }

.brand:hover {
  transform: scale(1.1); }

.searchBx {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  padding-left: 10px; }
  .searchBx input {
    width: 70%;
    border: 2px solid grey;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 5px;
    border-right: 0px;
    transition: 0.5s; }
  .searchBx button {
    padding: 5px;
    font-size: 1rem;
    color: black;
    background-color: #66B933;
    border: 2px solid #66B933;
    font-family: 'goodtime';
    opacity: 0.5;
    transition: 0.5s; }
  .searchBx input:focus {
    border: 2px solid #66B933;
    border-right: 0px; }
  .searchBx input:focus + button {
    opacity: 100; }

.logBx {
  font-size: 1rem;
  width: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .logBx a:hover {
    color: #66B933;
    transition: 0.5s; }

.cartBx {
  width: 50px;
  height: 100%;
  margin-right: 30px;
  background-color: #66B933;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(22px); }
  .cartBx img {
    width: 25px;
    height: 25px; }

.sections {
  width: 100%;
  background-color: #1C1C21; }
  .sections ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .sections ul li {
      list-style: none;
      padding: 10px;
      height: 100%; }
      .sections ul li a {
        height: 100%;
        padding: 14px; }
      .sections ul li a:hover {
        color: black;
        background-color: #66B933;
        transition: 0.5s; }

.cardBx {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; }

.card {
  position: relative;
  width: 300px;
  height: 420px;
  background-color: #1C1C21;
  border-radius: 10px;
  overflow: hidden;
  border: 0px;
  margin-bottom: 20px; }

.card::before {
  content: '';
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background-color: #66B933;
  transform: skewY(345deg);
  transition: 0.5s; }

.card:hover::before {
  top: -70%;
  transform: skewY(390deg); }

.card::after {
  content: 'PS5';
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'slimplay';
  color: rgba(0, 0, 0, 0.1); }

.card_imgBx {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  z-index: 1;
  transition: 0.5s; }
  .card_imgBx img {
    height: 100%;
    transition: 0.5s; }

.card:hover .card_imgBx {
  height: 220px; }

.card_description {
  font-family: 'poppins'; }

.card_description {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1; }
  .card_description h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 10px; }
  .card_description .price {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px; }
  .card_description a {
    position: relative;
    top: 200px;
    opacity: 0;
    color: black;
    padding: 10px 30px;
    margin-top: 15px;
    background-color: #66B933;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.5s; }

.card:hover .card_description a {
  top: 0px;
  opacity: 100; }

/*correccion detalles de tarjetas*/
.ps::after {
  content: 'PS4'; }

.ps5::after {
  content: 'PS5'; }

.ps::before {
  background-color: #003087; }

.xbox::after {
  content: 'XBOX';
  font-family: 'X360'; }

.xbox::before {
  background-color: #007F00; }

.razer::after {
  content: 'RAZER';
  font-family: 'goodtime'; }

.rog::after {
  content: 'ROG';
  font-family: 'rog'; }

.rog::before {
  background-color: #a4181d; }

.aorus::after {
  content: 'AORUS';
  font-family: 'goodtime'; }

.msi::after {
  content: 'msi';
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 7rem; }

.msi::before {
  background-color: #a4181d; }

.corsair::after {
  content: 'CORSAIR';
  font-family: 'corsair'; }

.corsair::before {
  background-color: #FFCC00; }

.swiper-container {
  width: 100vw;
  padding-bottom: 0px;
  margin-bottom: 100px; }

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  display: flex;
  justify-content: flex-end; }

.slider {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.payment {
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 50px; }

.info {
  width: 100%;
  background-color: #1C1C21;
  display: flex;
  justify-content: center; }

.info_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1300px; }

.links {
  display: flex;
  justify-self: center;
  padding: 30px 0 20px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid grey; }
  .links ul {
    padding: 0 60px 0 0; }
    .links ul li {
      list-style: none; }
      .links ul li a {
        font-family: 'Roboto';
        font-weight: 300;
        color: grey;
        font-size: 0.9rem; }
      .links ul li a:hover {
        color: #66B933; }

.links--title, .social button {
  font-family: 'Roboto';
  font-weight: 600; }

.social {
  padding: 0 60px 0 0; }
  .social button {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 0.7rem;
    transition: 0.5s; }
  .social button:hover {
    background: black;
    border: 1px solid #66B933; }
  .social h4 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.05rem;
    margin-bottom: 20px; }
  .social img {
    height: 40px; }

.social_iconos {
  display: flex; }
  .social_iconos img {
    width: 40px;
    margin-right: 10px; }

.partner {
  margin-bottom: 10px;
  padding-bottom: 50px;
  border-bottom: 1px solid grey; }
  .partner h4 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px; }

.partner-img {
  display: flex;
  justify-content: center; }
  .partner-img img {
    height: 90px;
    margin-right: 20px; }

.copyright {
  text-align: center; }
  .copyright p {
    font-family: 'Roboto';
    font-weight: 300;
    color: grey;
    font-size: 0.9rem; }
  .copyright a {
    font-family: 'Roboto';
    font-weight: 300;
    color: grey;
    font-size: 0.9rem; }
  .copyright a:hover {
    color: #66B933; }

.ofertas {
  background-image: url(../img/santa2.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 2200px; }

.clockBx {
  text-align: center;
  height: 240px; }
  .clockBx span {
    font-family: 'goodtime';
    font-size: 2.5rem;
    font-weight: 600;
    color: #66B933; }
  .clockBx h2 {
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 600; }

.clock-content {
  width: 530px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px; }
  .clock-content p {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 600; }

#clock {
  display: flex;
  justify-content: center; }
  #clock .number {
    position: relative;
    width: 60px;
    padding: 10px;
    margin: 0 10px;
    background-color: black;
    color: #66B933;
    font-family: 'ghostclan';
    font-size: 1.5rem; }

.ofertas_productos {
  background-color: black;
  width: 1300px;
  padding: 20px;
  margin: 0 10px 0 10px; }

.discount-container {
  position: relative; }

.discount {
  position: absolute;
  height: 30px;
  width: 120px;
  top: 0px;
  left: 0px;
  background-color: black;
  font-family: 'Roboto';
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  color: #66B933;
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%); }

.contact {
  box-sizing: content-box;
  position: relative;
  display: flex;
  padding: 50px 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto';
  width: 1000px; }
  .contact .description {
    text-align: center;
    box-sizing: inherit; }
    .contact .description h2 {
      font-family: 'goodtime';
      font-size: 2rem;
      font-weight: 500;
      color: #66B933; }
    .contact .description p {
      font-size: 1rem;
      font-weight: 400;
      color: grey; }
  .contact .info-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    box-sizing: inherit; }
    .contact .info-container .contactBx {
      width: 50%;
      display: flex;
      flex-direction: column;
      box-sizing: inherit;
      margin-right: 20px; }
      .contact .info-container .contactBx .box {
        position: relative;
        display: flex;
        padding: 20px 0;
        box-sizing: inherit; }
        .contact .info-container .contactBx .box .icon {
          width: 60px;
          height: 60px;
          font-size: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: inherit; }
        .contact .info-container .contactBx .box .phone-size {
          font-size: 60px; }
        .contact .info-container .contactBx .box .text {
          box-sizing: inherit;
          display: flex;
          margin-left: 20px;
          flex-direction: column; }
          .contact .info-container .contactBx .box .text h3 {
            font-size: 1.8rem;
            margin-bottom: 0px;
            color: #66B933;
            font-family: 'goodtime'; }
          .contact .info-container .contactBx .box .text p {
            color: grey;
            font-size: 1.2rem; }
    .contact .info-container .contactForm {
      width: 50%;
      padding: 40px;
      background-color: #1C1C21;
      box-sizing: inherit;
      border-radius: 10px; }
      .contact .info-container .contactForm h2 {
        font-size: 2rem;
        color: #66B933;
        font-family: 'goodtime'; }
      .contact .info-container .contactForm .inputBox {
        position: relative;
        width: 100%;
        margin-top: 10px;
        box-sizing: inherit; }
        .contact .info-container .contactForm .inputBox input, .contact .info-container .contactForm .inputBox textarea {
          background: transparent;
          width: 100%;
          padding: 5px 0;
          font-size: 1rem;
          margin: 10px 0;
          border: none;
          border-bottom: 2px solid #66B933;
          color: white;
          outline: none;
          resize: none;
          box-sizing: inherit; }
        .contact .info-container .contactForm .inputBox span {
          position: absolute;
          left: 0;
          padding: 5px 0;
          font-size: 1rem;
          margin: 10px 0;
          pointer-events: none;
          transition: 0.5s;
          color: grey;
          box-sizing: inherit; }
        .contact .info-container .contactForm .inputBox input:focus ~ span,
        .contact .info-container .contactForm .inputBox input:valid ~ span,
        .contact .info-container .contactForm .inputBox textarea:focus ~ span,
        .contact .info-container .contactForm .inputBox textarea:valid ~ span {
          color: #66B933;
          font-size: 0.8rem;
          transform: translateY(-20px); }
        .contact .info-container .contactForm .inputBox input[type="submit"] {
          width: 100px;
          color: #66B933;
          cursor: pointer;
          padding: 10px;
          background: #1C1C21;
          box-sizing: inherit;
          transition: 0.5s; }
        .contact .info-container .contactForm .inputBox input[type="submit"]:hover {
          background-color: black; }

@media (max-width: 1089px) {
  .contact {
    width: 85vw; } }

@media (max-width: 677px) {
  .contact .info-container {
    flex-direction: column; }
    .contact .info-container .contactBx {
      width: 100%;
      margin: 0px; }
    .contact .info-container .contactForm {
      width: 100%;
      box-sizing: border-box; } }

.about-us_head {
  width: 100%;
  height: 250px;
  background-color: #66B933;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }
  .about-us_head h2 {
    font-family: 'ghostclan';
    font-size: 5rem;
    color: black; }
    .about-us_head h2 span {
      font-family: 'ghostclanlaser'; }
  .about-us_head h3 {
    font-family: 'ghostclan';
    font-size: 2rem;
    color: black; }

.about-us_introduction {
  margin-bottom: 50px;
  width: 1140px; }
  .about-us_introduction h3 {
    text-align: center;
    color: #66B933;
    font-family: 'goodtime'; }
  .about-us_introduction p {
    color: grey; }

.about-us_text {
  width: 100%;
  background-image: url(../img/sn-fondo1.jpg);
  background-size: cover;
  background-position: 500px 0px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }

.about-us_text_box {
  width: 1140px;
  padding: 50px 0px; }

.about-us_text_box--flex {
  width: 1140px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center; }

.about-us_text_box_content {
  width: 50%;
  padding-right: 50px; }
  .about-us_text_box_content h3 {
    color: #66B933;
    font-family: 'goodtime'; }
  .about-us_text_box_content p {
    color: grey; }
  .about-us_text_box_content a {
    font-family: inherit;
    color: #66B933; }

.about-us_features {
  padding: 50px 0px;
  width: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }
  .about-us_features h3 {
    color: #66B933;
    font-family: 'goodtime'; }

.about-us_features_box {
  width: 1140px;
  display: flex;
  margin-top: 20px; }

.about-us_features_box_content {
  width: 33%;
  padding-right: 50px; }
  .about-us_features_box_content h4 {
    font-family: 'goodtime'; }
  .about-us_features_box_content p {
    color: grey; }

.about-us_version {
  width: 1140px;
  margin-bottom: 50px; }
  .about-us_version h3 {
    color: #66B933;
    font-family: 'goodtime';
    margin-bottom: 20px; }

.about-us_version_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.about-us_version_box_content {
  width: 50%; }
  .about-us_version_box_content h4 {
    color: #66B933;
    font-family: 'goodtime'; }
  .about-us_version_box_content ul {
    color: grey;
    padding-left: 20px; }

.catalogue {
  width: 1140px;
  margin-top: 50px; }
  .catalogue .catalogue_title {
    color: #66B933;
    font-family: 'goodtime';
    margin-bottom: 30px; }

.product {
  width: 100%;
  display: flex;
  margin-bottom: 50px; }

.product_filter {
  width: 25%;
  background-color: #222222;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }

.product_filter_serchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  background-color: #1C1C21; }
  .product_filter_serchbox input {
    width: 80%;
    background-color: #1C1C21;
    border: none;
    height: 30px;
    padding: 10px 0 10px 10px;
    color: white;
    height: 40px; }
  .product_filter_serchbox .icon {
    width: 20%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit; }

.product_filter_price {
  width: 100%; }
  .product_filter_price h4 {
    font-family: 'goodtime';
    color: #66B933; }

.product_filter_price_box {
  display: flex;
  justify-content: space-between; }
  .product_filter_price_box input {
    padding: 10px;
    width: 45%;
    background-color: #1C1C21;
    border: none;
    color: white; }

.product_filter_type {
  width: 100%;
  margin-top: 15px; }
  .product_filter_type h4 {
    font-family: 'goodtime';
    color: #66B933; }
  .product_filter_type ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
    font-weight: 500; }
    .product_filter_type ul li input [type="checkbox"] {
      background-color: #1C1C21; }

.product_box_list {
  display: flex;
  padding-left: 20px;
  flex-wrap: wrap; }
  .product_box_list .card {
    width: 270px;
    height: 378px;
    margin-right: 23px; }
  .product_box_list .card_imgBx {
    height: 225px;
    padding-top: 36px; }
  .product_box_list .card:hover .card_imgBx {
    height: 198px; }
  .product_box_list .card_description {
    padding: 18px; }
    .product_box_list .card_description h3 {
      font-size: 16.2px;
      padding-bottom: 9px; }
    .product_box_list .card_description .price {
      font-size: 21.6px; }
    .product_box_list .card_description a {
      padding: 9px 27px;
      font-size: 14px; }

.product_box_pagination {
  display: flex;
  justify-content: center; }
  .product_box_pagination ul {
    margin: 0px; }
  .product_box_pagination .page-link {
    color: #66B933;
    background-color: #1C1C21;
    border-color: #222222; }
