.carrito-intro{
    text-align: left;    
    width: 1300px;
    margin: 20px 0;
    h1{
        font-family: 'goodtime';
        color: $secondary-color;
    }
    p{
        color: gray;
    }
}
.catalogo{
    width: 1300px;
    margin: 0;
    
}

.product-display{
    width: 1300px;
    tr{
        border-bottom: 1px solid $secondary-color;
        th{
            color: $secondary-color;
            font-family: 'goodtime';
            font-size: 1rem;
            text-align: center;
        }
    }
    .img-col{
        width: 10%;
        padding: 20px;
        div{
            
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height:100% ;
            
            }
        }
    }
    .name-col{
        width: 50%;
        font-size: 1.2rem;
        text-align: center;
    }
    .price-col{
        width: 10%;
        text-align: center;
    }
    .amount-col{
        width: 10%;
        text-align: center;
        input{
            width: 35px;
            margin-left: 20px;
            background-color: transparent;
            color: $font-color;
            border: none;
        }
        button{
            background-color: transparent;
            color: $secondary-color;
            
            font-size: 1.5rem;
            border: none;
        }
        
    }
    .subtotal-col{
        text-align: center;
    }
    .delet-col button{
        background-color: $secondary-color;
        border-radius: 50%;
        border: none;
        font-family: 'goodtime';
        font-weight: 1000;
    }
    .no-product{
        
            width:1300px ;
    
        
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pay-info{
    width: 1300px;
    margin-bottom:30px ;
    background-color: transparent;
    display: flex;

    .pay-info_continuar{
        background-color: transparent;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        button{
            
            font-family: 'goodtime';
            background-color: $secondary-color;
            border: none;
            color: $primary-color;
            padding: 10px;
            border-radius: 5px;
            
        }
        .vaciar-carrito{
            margin-bottom: 20px;
        }
    }
    .pay-info_total{
        padding-top: 10px;
        width: 70%;
        background-color: $secondary-color;
        color: $primary-color;
        font-family: 'goodtime';
        display: flex;
        justify-content: flex-end;
        .pay-info_total_contenedor{
            height: 100%;
            width: 30%;
            display: flex;
            flex-direction: column;
            position: relative;
        p{
            margin-bottom: 10px;
            
            font-size: 0.8rem;
        }
        .total-monto{
            margin: 0;
            font-size: 2rem;
            font-weight: 600;
            justify-self: flex-end;
        }
    }
    }
}