.contact{
    box-sizing: content-box;
    position: relative;
    display: flex;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto';
    width: 1000px;
    
    
    .description{
        text-align: center;
        box-sizing: inherit;
        h2{
            font-family: 'goodtime';
            font-size: 2rem;
            font-weight: 500;
            color: $secondary-color;
        }
        p{
            font-size: 1rem;
            font-weight: 400;
            color: $tertiary-color;
        }
    }
    .info-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:30px;
        box-sizing: inherit;
        .contactBx{
            width: 50%;
            display: flex;
            flex-direction: column;
            box-sizing: inherit;
            margin-right:20px ;
            .box{
                position: relative;
                display: flex;
                padding: 20px 0;
                box-sizing: inherit;
                .icon{
                    width: 60px;
                    height: 60px;
                    font-size: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: inherit;
                }
                .phone-size{
                    font-size: 60px;
                }
                .text{
                    box-sizing: inherit;
                    display: flex;
                    margin-left: 20px;
                    
                    flex-direction: column;
                    h3{
                        font-size: 1.8rem;
                        margin-bottom: 0px;
                        color: $secondary-color;
                        font-family: 'goodtime';
                    }
                    p{
                        color: $tertiary-color;
                        font-size: 1.2rem;
                    }
                }

            }
        }
        .contactForm{
            width: 50%;
            padding: 40px;
            background-color: $gray-variant;
            box-sizing: inherit;
            border-radius: 10px;
            h2{
                font-size: 2rem;
                color: $secondary-color;
                font-family: 'goodtime';
            }
            .inputBox{
                position: relative;
                width: 100%;
                margin-top: 10px;
                box-sizing: inherit;
                input,textarea{
                    background: transparent;
                    width: 100%;
                    padding: 5px 0;
                    font-size:1rem;
                    margin: 10px 0;
                    border: none;
                    border-bottom: 2px solid $secondary-color;
                    color: $font-color;
                    outline: none;
                    resize: none;
                    box-sizing: inherit;
                }
                span{
                    position: absolute;
                    left: 0;
                    padding: 5px 0;
                    font-size:1rem;
                    margin: 10px 0;
                    pointer-events: none;
                    transition: 0.5s;
                    color: $tertiary-color;
                    box-sizing: inherit;
                    
                }
                input:focus ~ span,
                input:valid ~ span,
                textarea:focus ~ span,
                textarea:valid ~ span{
                    color: $secondary-color;
                    font-size: 0.8rem;
                    transform: translateY(-20px);
                    
                }
                input[type="submit"]{
                    width: 100px;
                    color: $secondary-color;
                    cursor: pointer;
                    padding: 10px;
                    background: $gray-variant;
                    box-sizing: inherit;
                    transition:0.5s;
                }
                input[type="submit"]:hover{
                    background-color: black;
                }
            }
        }
    }
}

@media (max-width:1089px){
    .contact{
        width: 85vw;
    }
}
@media (max-width:677px){
    .contact{
    .info-container{
        flex-direction: column;
        .contactBx{
            width: 100%;
            margin: 0px;
        }
        .contactForm{
            width: 100%;
            box-sizing: border-box;
        }
    }
}

}