
.payment{
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    

}
.info{
    width: 100%;
    background-color: $gray-variant;
}
.info_content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    display: flex;
    justify-self: center;
    margin:0 auto ;
    padding:30px 20px 0 0;
    ul{
        padding:0 20px 0 0;
        li{
            list-style: none;
        }
    }
}
.links--title{
    font-family: 'Poppins';
}
.redes{

}
.redes_iconos{
    display: flex;
    img{
        width: 40px;
    }
}