$primary-color:black;
$secondary-color:#66B933;
$tertiary-color:grey;
$gray-variant:#1C1C21;
$gray-variant2:#222222;
$font-color: white;
$psblue-color:#003087;
$xboxgreen-color:#007F00;
$rogred-color:#a4181d;
$corsairyellow-color:#FFCC00;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'goodtime';
    src: url('../font/GOODTIME.ttf')  format('truetype');
}
@font-face {
    font-family: 'slimplay';
    src: url('../font/SlimPlay.ttf')  format('truetype');
}

@font-face {
    font-family: 'ghostclanlaser';
    src: url('../font/ghostclanlaser.ttf')  format('truetype');
}
@font-face {
    font-family: 'ghostclan';
    src: url('../font/ghostclan.ttf')  format('truetype');
}
@font-face {
    font-family: 'X360';
    src: url('../font/X360.ttf')  format('truetype');
}
@font-face {
    font-family: 'rog';
    src: url('../font/rog.ttf')  format('truetype');
}
@font-face {
    font-family: 'corsair';
    src: url('../font/corsair.ttf')  format('truetype');
}


/*estilos generales*/
body{
    background-color: $primary-color;
    color: $font-color;
    margin: 0px;
    overflow-x: hidden;
}
a{
    text-decoration: none !important; 
    color: $tertiary-color;
    font-family: 'goodtime';
}