$primary-color:black;
$secondary-color:#66B933;
$tertiary-color:grey;
$gray-variant:#1C1C21;
$font-color: white;

@font-face {
    font-family: 'goodtime';
    src: url('../font/GOODTIME.ttf')  format('truetype');
}
@font-face {
    font-family: 'slimplay';
    src: url('../font/SlimPlay.ttf')  format('truetype');
  }

/*estilos generales*/
body{
    background-color: $primary-color;
    color: $font-color;
    margin: 0px;
}
a{
    text-decoration: none !important; 
    color: $tertiary-color;
    font-family: 'goodtime';
    
}