header{
    display:flex;
    height: 80px;
    width:100%;
}
.titleBx{
    background-color: $secondary-color;
    display: flex;
    width: 250px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.brand{
    font-family: 'ghostclanlaser';
    color: $primary-color;
    text-align: center; 
    font-size: 3rem;
    transition: 0.5s;
}
.brand:hover{
    transform: scale(1.1);
}
.searchBx{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    padding-left: 10px;
    input{
        width:70%;
		border:2px solid $tertiary-color;
        background-color: transparent;
        color: $font-color;
        font-size: 1rem;
        padding: 5px;
        border-right:0px ;
        transition: 0.5s;
    }
    button{
        
        padding:5px ;
        font-size: 1rem;
        color: $primary-color;
        background-color: $secondary-color;
        border: 2px solid $secondary-color;
        font-family: 'goodtime';
        opacity: 0.5;
        transition: 0.5s;
    }
    input:focus{
        border: 2px solid $secondary-color;
        border-right:0px ;
    }
    input:focus + button{
        opacity: 100;
    }
}
.auxBx{
    display: flex;
    height: 100%;
    width: 250px;
}
.logBx{
    font-size: 1rem;
    width:170px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a:hover{
        color: $secondary-color;
        transition: 0.5s;
    }
    
}
.cartBx{
    width: 90px;
    height: 100%;
    
    
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(22px);
    img{
        width: 25px;
        height: 25px;
    }
}


@media (max-width: 844px){
    header{
        flex-direction: column;
        height: inherit;
        
    }
    .titleBx{
        width: 100%;
        margin-bottom: 20px;
    }
    .searchBx{
        margin-bottom: 20px;
        padding: 0px;
    }
    .auxBx{
        align-self: center;
        height: 50px;
        justify-content: center;
        margin-bottom: 20px;
        width: 82%;
    }
    .logBx{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 80%;
        a{
            padding-right: 10px;
        }
        
    }
    .cartBx{
        width: 20%;
        
        
    }
}


