/*carrusel*/
.carousel{
    margin-bottom: 40px;
}
.imgCrBstp{
    height: 25vw;
    
}

/*contenido*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*secciones propias*/
.sec_index{
    width: 1500px;
    .sec_index_title{
        margin-bottom: 40px;
        h2{
            font-family: 'goodtime';
            color: $secondary-color;
        }
        p{
            font-family: 'Poppins';
            color: $tertiary-color; 
        }
        
    }
}
.sec_index_catalogo{
    display: flex;
    justify-content: space-between;

}
/*secciones tematicas*/
.sec_console{
    background-image: url(../img/psfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 40vw;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .mid1{
        flex-grow: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mid2{
        @extend .mid1;
    }
    .mid3{
        @extend .mid1;
    }
    .ps5::before{
        background-color: $psblue-color;
    }
    .xbox::before{
        background-color: $xboxgreen-color;
    }

}
.sec_console-xbox{
    @extend .sec_console;
    background-image: url(../img/xbox.jpg);
}

