/*carrusel*/
.carousel{
    margin-bottom: 40px;
}
.imgCrBstp{
    height: 25vw;
    
}

/*contenido*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*secciones propias*/
.sec_index{
    width: 1300px;
    .sec_index_title{
        margin-bottom: 40px;
        h2{
            font-family: 'goodtime';
            color: $secondary-color;
        }
        p{
            font-family: 'Poppins';
            color: $tertiary-color; 
        }
        
    }
}
.catalogo_row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card{
        margin-right: 23px;
    }
    

}
/*secciones tematicas*/
.sec_console{
    background-image: url(../img/psfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 40vw;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .mid1{
        flex-grow: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mid2{
        @extend .mid1;
    }
    .mid3{
        @extend .mid1;
    }
    

}
.sec_console-xbox{
    @extend .sec_console;
    background-image: url(../img/xbox.jpg);
    margin-bottom: 0px;
}
.sec_console{ .swiper-button-prev,.swiper-button-next{
    color: $psblue-color;
}}
.sec_console-xbox{.swiper-button-prev,.swiper-button-next{
    color: $xboxgreen-color;
}
}


@media (max-width: 1338px){
    .sec_index{
        width: 100vw;
        padding: 0 20px;
    }
}
@media (max-width: 1205px){
    .sec_console,.sec_console-xbox{
        height: 500px;
    }
    
}
@media (max-width: 669px){
    .sec_console{
        .mid1{
            display: none;
        }
        .mid2{
            display: none;
        }
    }
}
@media (max-width: 979px){
    .sec_console-xbox{
        .mid1{
            display: none;
        }
        .mid2{
            display: none;
        }
        .mid1{
            display: none;
        }
        .mid2{
            display: none;
        }
    }
}
