.sections{
    width: 100%;
    background-color: $gray-variant;
    position: relative;
}
.links-nav{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
        list-style: none;
        padding: 10px 0 10px 10px;
        height:100%;
        a{
            height: 100%;
            padding: 14px;
        }
        a:hover{
            color: $primary-color;
            background-color: $secondary-color;
            transition: 0.5s;
        }
    }

}
.sections-movil{
    display: none;
    background-color: $gray-variant;
    position: relative;
    width: 100%;
}

@media (max-width: 719px){
    .sections{
        display: none;
        
    }
    .sections-movil{
        display: block;
        height: 50px;
        position: sticky;
        z-index: 100;
        top: 0;
        .toggle{
            position: relative;
            height: 50px;
            .icon-burger {
                
                position: absolute;
                right: 5%;
                top: 50%;
                transform: translateY(-50%);
            }
            .icon-burger .line {
                width: 30px;
                height: 5px;
                background-color: #fff;
                margin: 5px;
                border-radius: 3px;
                transition: all .3s ease-in-out;
            }
        }
        .toggle :checked ~ .icon-burger .line:nth-child(1) {
            transform: translateY(10px) rotate(225deg);
        }
        .toggle :checked ~ .icon-burger .line:nth-child(3) {
            transform: translateY(-10px) rotate(-225deg);
        }
        .toggle :checked ~ .icon-burger .line:nth-child(2) {
            opacity: 0;
        }
        #nav-toggle {
            position: absolute;
            display: none;
        }
        
        .links-nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 50px;
            width: 100%;
            background-color: rgb(28, 28, 33);
            z-index: 100;
            height: 0px;
            transition:0.5s;
            overflow: hidden;
            li{
                height: 50px;
            }
            
        }
        .toggle :checked ~ .links-nav{
            height: 180px;
            
        }
    }
    


}
