.ofertas{
    background-image: url(../img/santa2.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:2200px;
    

}
.clockBx{
    text-align: center;
    height: 240px;
    
    span{
        font-family: 'goodtime';
        font-size: 2.5rem;
        font-weight: 600;
        color: $secondary-color;
    }
    h2{
        margin-top: 20px;
        font-family: 'Roboto';
        font-size: 1.5rem;
        font-weight: 600;
       
    
    }
}
.clock-content{
    width: 530px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    p{
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 600;
    }
}
#clock{
    display: flex;
    justify-content: center;

    .number{
        position: relative;
        width: 60px;
        padding: 10px;
        margin: 0 10px;
        background-color: black;
        color: $secondary-color;
        font-family: 'ghostclan';
        font-size: 1.5rem;
    }
}
.ofertas_productos{
    background-color: $primary-color;
    width: 1300px;
    padding: 20px 10px;
    
    
    .card{
        margin: 0px 10px 20px 10px;
    }
    
}
.discount-container{
    position: relative;
}
.discount{
    position: absolute;
    height: 30px;
    width: 120px;
    top: 0px;
    left: 0px;
    background-color:$primary-color;
    font-family: 'Roboto';
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    color: $secondary-color;
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);

}
@media (max-width: 1339px){
    .ofertas_productos{
        width: 95vw;
        
    }

}
@media (max-width: 1095px){
    .ofertas_productos{
        width: 100vw;
        
    }
}
@media (max-width: 590px){
    .clockBx{
        width: 95vw;
    }
}

@media (max-width: 566px){
    .clockBx{
        height: 42vw;
        h2{
            font-size: 4vw;
        }
        span{
            font-size: 7vw;
        }
    }
    .clock-content{
        width: 100%;
        margin-top: 5vw;
        p{
            font-size: 3vw;
        }

    }
    #clock{
        div{
            font-size: 4vw;
        }
        .number{
            width: 10vw;
            height: 10vw;
            font-size: 4vw;
        }
    }

    
}