.swiper-container {
    width: 100vw;
    padding-bottom: 0px;
    margin-bottom:100px ;
}
  
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 420px;
    display: flex;
    justify-content: flex-end;
    
}
.slider{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.swiper-container-flip{
    display: none;
    width: 300px;
    height: 420px;
    .swiper-slide{
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
    }

}
@media (max-width: 669px){
    .swiper-container-flip{
        display: block;
    }
    
}
@media (max-width: 979px){
    .sec_console-xbox{
        .swiper-container-flip{
            display: block;
        }
    }
}